@import "variables";
/* gdg bremen theme addons */ 

// own elements


#front_logo{
	height: 177px;
	width:910px;
}

.sponsors{
	position: absolute;
	
	p {
		left:60px;
    }
	
	
}

#best_western_text{
	top:200px;
}

#hackerspace_bremen_text{
	top:200px;
}

#sponsor_neusta{
	width: 300px;
	top: 220px;
	left: 250px;
}

#sponsor_neusta_bigger{
	width: 500px;
	top: 300px;
	right: 5px;
}

#sponsor_enough{
	width: 200px;
	top: 305px;
	left: 325px;
}

#best_western_logo{
	width:240px; 
	top:115px; 
	left:500px
}

#hackerspace_bremen_logo{
	width:250px; 
	top:315px; 
	left:640px
}

#stalhut_text{
	top:350px;
}

#stalhut_logo{
	width:300px; 
	top:360px; 
	left:180px
}

#neusta_text{
	top:500px;
}

#neusta_logo{
	top:510px; 
	left:530px
}

#cal_iframe{
	height:450px;
}